apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - leader_election_role.yaml
  - leader_election_role_binding.yaml
  - manager.yaml
  - namespace.yaml
  - role.yaml
  - role_binding.yaml
  - service_account.yaml
  - user_cluster_roles.yaml

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/component: profile-controller

images:
  - name: ghcr.io/kubeflow/dashboard/profile-controller
    newName: ghcr.io/kubeflow/dashboard/profile-controller
    newTag: latest

configMapGenerator:
  - literals:
      - ADMIN=
      - WORKLOAD_IDENTITY=
      - USERID_HEADER="kubeflow-userid"
      - USERID_PREFIX=
      - ISTIO_INGRESS_GATEWAY_PRINCIPAL="cluster.local/ns/istio-system/sa/istio-ingressgateway-service-account"
      - NOTEBOOK_CONTROLLER_PRINCIPAL="cluster.local/ns/kubeflow/sa/notebook-controller-service-account"
      - KFP_UI_PRINCIPAL="cluster.local/ns/kubeflow/sa/ml-pipeline-ui"
    name: profiles-config

  - name: profiles-namespace-labels-data
    files:
      - namespace-labels.yaml
