apiVersion: apps/v1
kind: Deployment
metadata:
  name: profiles-deployment
spec:
  selector:
    matchLabels: {}
  replicas: 1
  template:
    metadata:
      labels: {}
    spec:
      volumes:
        - name: namespace-labels
          configMap:
            name: profiles-namespace-labels-data
      containers:
        - command:
            - /manager
            - "-userid-header"
            - $(USERID_HEADER)
            - "-userid-prefix"
            - $(USERID_PREFIX)
            - "-workload-identity"
            - $(WORKLOAD_IDENTITY)
          envFrom:
            - configMapRef:
                name: profiles-config
          image: ghcr.io/kubeflow/dashboard/profile-controller
          imagePullPolicy: IfNotPresent
          name: manager
          securityContext:
            allowPrivilegeEscalation: false
            seccompProfile:
              type: RuntimeDefault
            runAsNonRoot: true
            capabilities:
              drop:
                - ALL
          livenessProbe:
            httpGet:
              path: /healthz
              port: 9876
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 9876
            initialDelaySeconds: 5
            periodSeconds: 10
          ports:
            - containerPort: 9876
          volumeMounts:
            - name: namespace-labels
              mountPath: /etc/profile-controller
              readOnly: true
      serviceAccountName: profiles-controller-service-account
