apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow
resources:
  - ../../base
  - service.yaml
components:
  - ../../components/istio

commonLabels:
  app: profiles
  app.kubernetes.io/component: profiles
  app.kubernetes.io/name: profile-controller
  app.kubernetes.io/part-of: kubeflow-dashboard
  app.kubernetes.io/managed-by: kustomize

patchesStrategicMerge:
  - patches/kfam.yaml
  - patches/remove-namespace.yaml

vars:
  - name: PROFILES_NAMESPACE
    fieldref:
      fieldpath: metadata.namespace
    objref:
      name: profiles-kfam
      kind: Service
      apiVersion: v1

images:
  - name: ghcr.io/kubeflow/dashboard/access-management
    newName: ghcr.io/kubeflow/dashboard/access-management
    newTag: latest
