apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kubeflow

resources:
  - ../../base

components:
  - ../../components/istio
  - ../../components/kfam

labels:
  - pairs:
      app: profiles
      app.kubernetes.io/name: profile-controller
      app.kubernetes.io/part-of: kubeflow-dashboard
      app.kubernetes.io/managed-by: kustomize

patches:
  - path: patches/kfam.yaml
  - path: patches/remove-namespace.yaml

replacements:
  - source:
      kind: Service
      version: v1
      name: profiles-kfam
      fieldPath: metadata.namespace
    targets:
      - select:
          kind: VirtualService
        fieldPaths:
          - spec.http.0.route.0.destination.host
        options:
          delimiter: "."
          index: 1

images:
  - name: ghcr.io/kubeflow/dashboard/access-management
    newName: ghcr.io/kubeflow/dashboard/access-management
    newTag: latest
