apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - certificate.yaml

patches:
  - path: mutating-webhook-configuration.yaml
  - path: deployment.yaml

configurations:
  - params.yaml
