h1, h2 {
    font-family: Google Sans;
    font-size: 1.2em;
    margin: 0;
}
h1 {
    color: black;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
}
h2 {
    @apply --layout-horizontal;
    @apply --layout-center;
    font-size: 1em;
    font-weight: 500;
    color: var(--subheading-color);
    margin: .5em 0;
}
h2 .icon {
    color: var(--accent-color);
    margin-right: 1rem;
    /* Because Hamburger icon has a padding area for ripple*/
    padding-left: .6rem;
}
.content {
    margin-left: calc(1.6rem + 24px);
    color: var(--content-color);
    font-size: .9em;
}
.content.small {
    max-width: 640px;
}
#ContribError {
    background: #F44336
}
.add-row paper-dropdown-menu {
    --paper-input-container-focus-color: var(--accent-color);
    --paper-listbox-background-color: white;
    --paper-listbox-color: black;
}
.add-row {
    display: flex;
    align-items: flex-end;
    gap: .75em;
    margin-bottom: .5em;
}
.add-row md2-input {
    flex: 1;
}
.add-row paper-dropdown-menu[disabled] {
    opacity: 0.4;
    pointer-events: none;
}
[hidden] {display: none !important}
