apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kubeflow

resources:
  - cluster-role-binding.yaml
  - cluster-role.yaml
  - deployment.yaml
  - mutating-webhook-configuration.yaml
  - service-account.yaml
  - service.yaml
  - crd.yaml

images:
  - name: ghcr.io/kubeflow/dashboard/poddefaults-webhook
    newName: ghcr.io/kubeflow/dashboard/poddefaults-webhook
    newTag: latest

namePrefix: poddefaults-webhook-

generatorOptions:
  disableNameSuffixHash: true

configurations:
  - params.yaml

labels:
  - includeSelectors: true
    pairs:
      app: poddefaults
      app.kubernetes.io/component: poddefaults

replacements:
  # Sync webhook service namespace
  - source:
      fieldPath: metadata.namespace
      kind: Service
      name: service
      version: v1
    targets:
      - fieldPaths:
          - webhooks.0.clientConfig.service.namespace
        select:
          group: admissionregistration.k8s.io
          kind: MutatingWebhookConfiguration
          name: mutating-webhook-configuration
          version: v1
  # Sync webhook service name
  - source:
      fieldPath: metadata.name
      kind: Service
      name: service
      version: v1
    targets:
      - fieldPaths:
          - webhooks.0.clientConfig.service.name
        select:
          group: admissionregistration.k8s.io
          kind: MutatingWebhookConfiguration
          name: mutating-webhook-configuration
          version: v1
  # Sync webhook name with deployment name
  - source:
      fieldPath: metadata.name
      group: apps
      kind: Deployment
      name: deployment
      version: v1
    targets:
      - fieldPaths:
          - webhooks.0.name
        options:
          delimiter: .
        select:
          group: admissionregistration.k8s.io
          kind: MutatingWebhookConfiguration
          name: mutating-webhook-configuration
          version: v1
