apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
namespace: profiles-system
commonLabels:
  app: profiles
  app.kubernetes.io/component: profiles
  app.kubernetes.io/name: profile-controller
  app.kubernetes.io/part-of: kubeflow-dashboard
  app.kubernetes.io/managed-by: kustomize
