# This overlay uses CertManager to provision a certificate for the
# PodDefaults admission controller.
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow
resources:
  - ../../base
components:
  - ../../components/cert-manager
labels:
  - includeSelectors: true
    pairs:
      app: poddefaults
      app.kubernetes.io/component: poddefaults
      app.kubernetes.io/name: poddefaults-webhooks
      app.kubernetes.io/part-of: kubeflow-dashboard
      app.kubernetes.io/managed-by: kustomize
generatorOptions:
  disableNameSuffixHash: true
replacements:
  # Replacements for the Certificate
  - source:
      fieldPath: metadata.name
      kind: Service
      name: service
      version: v1
    targets:
      - fieldPaths:
          - spec.commonName
          - spec.dnsNames.0
          - spec.dnsNames.1
        options:
          delimiter: .
          index: 0
        select:
          group: cert-manager.io
          kind: Certificate
          version: v1
  - source:
      fieldPath: metadata.namespace
      kind: Service
      name: service
      version: v1
    targets:
      - fieldPaths:
          - spec.commonName
          - spec.dnsNames.0
          - spec.dnsNames.1
        options:
          delimiter: .
          index: 1
        select:
          group: cert-manager.io
          kind: Certificate
          version: v1
  # Replacements for the MutatingWebhookConfiguration
  - source:
      fieldPath: metadata.namespace
      group: cert-manager.io
      kind: Certificate
      name: poddefaults-webhook-cert
      version: v1
    targets:
      - fieldPaths:
          - metadata.annotations.[cert-manager.io/inject-ca-from]
        options:
          delimiter: /
          index: 0
        select:
          group: admissionregistration.k8s.io
          kind: MutatingWebhookConfiguration
          version: v1
  - source:
      fieldPath: metadata.name
      group: cert-manager.io
      kind: Certificate
      name: poddefaults-webhook-cert
      version: v1
    targets:
      - fieldPaths:
          - metadata.annotations.[cert-manager.io/inject-ca-from]
        options:
          delimiter: /
          index: 1
        select:
          group: admissionregistration.k8s.io
          kind: MutatingWebhookConfiguration
          version: v1
