apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow

resources:
- ../../base
- service.yaml
- virtual-service.yaml
- authorizationpolicy.yaml

labels:
- includeSelectors: true
  pairs:
    kustomize.component: profiles

patches:
- path: patches/kfam.yaml
- path: patches/remove-namespace.yaml

configurations:
- params.yaml

replacements:
- source:
    fieldPath: metadata.namespace
    kind: Service
    name: profiles-kfam
    version: v1
  targets:
  - fieldPaths:
    - metadata.namespace
    select:
      kind: Service
      name: profiles-kfam
      version: v1

images:
- name: ghcr.io/kubeflow/dashboard/access-management
  newName: ghcr.io/kubeflow/dashboard/access-management
  newTag: latest
