name: Run Profile Controller unit tests
on:
  pull_request:
    paths:
      - components/profile-controller/**
      - releasing/version/VERSION
    branches:
      - main
      - v*-branch

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version-file: components/profile-controller/go.mod
        check-latest: true
        cache-dependency-path: components/profile-controller/go.sum

    - name: Build
      working-directory: components/profile-controller
      run: make build

    - name: Run unit tests
      working-directory: components/profile-controller
      run: make test

    - name: Check if there are uncommitted file changes
      working-directory: components/profile-controller
      run: |
        clean=$(git status --porcelain)
        if [[ -z "$clean" ]]; then
            echo "Empty git status --porcelain: $clean"
        else
            echo "Uncommitted file changes detected: $clean"
            git diff
            exit 1
        fi
