name: Run Profile Controller unit tests
on:
  pull_request:
    paths:
      - components/profile-controller/**
      - releasing/version/VERSION
    branches:
      - main
      - v*-branch
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: "1.19"
        check-latest: true

    - name: Run unit tests
      run: |
        cd components/profile-controller
        make test

    - name: Check if there are uncommitted file changes
      working-directory: components/profile-controller
      run: |
        clean=$(git status --porcelain)
        if [[ -z "$clean" ]]; then
            echo "Empty git status --porcelain: $clean"
        else
            echo "Uncommitted file changes detected: $clean"
            git diff
            exit 1
        fi
